<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MR_8_80_Liters_Mixing_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MR_8_80_Liters_Mixing_System.Properties.Settings.MIXING_DB"
            connectionString="Server=localhost;Database=Mixing;Username=test;Password=test;" />
    </connectionStrings>
    <userSettings>
        <MR_8_80_Liters_Mixing_System.Properties.Settings>
            <setting name="MOXA" serializeAs="String">
                <value>10.24.146.115</value>
            </setting>
            <setting name="MR8B1" serializeAs="String">
                <value>4002</value>
            </setting>
            <setting name="MR8B2" serializeAs="String">
                <value>4002</value>
            </setting>
            <setting name="MR8A" serializeAs="String">
                <value>4002</value>
            </setting>
            <setting name="MR_RELEASING" serializeAs="String">
                <value>4002</value>
            </setting>
            <setting name="KEMISORB" serializeAs="String">
                <value>4003</value>
            </setting>
            <setting name="DYESTUFF" serializeAs="String">
                <value>4004</value>
            </setting>
            <setting name="MRCAT" serializeAs="String">
                <value>4005</value>
            </setting>
            <setting name="MONOMER_TYPE" serializeAs="String">
                <value>UV,UV-BLUE</value>
            </setting>
            <setting name="TANK" serializeAs="String">
                <value>4002</value>
            </setting>
        </MR_8_80_Liters_Mixing_System.Properties.Settings>
    </userSettings>
</configuration>